@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0%;
    padding: 0%;
    text-decoration:none;
    color: inherit;
}

body{
    box-sizing: border-box;
    background-color: rgb(41, 40, 40);
    background-image: url("/assets/background2.jpg");
    background-position: center;
    background-attachment: fixed ;
    background-size: cover;
    background-blend-mode: multiply;
}

.cabecalho{
    color: aliceblue;
    padding: 0% 15% 0% 15%;
    gap: 10%;
}

.cabecalho__logo{
    display: flex;
    justify-content: center;
    max-width: 200px;
}

.cabecalho__nav{
    display: flex;
    font-family: 'montserrat', sans-serif;
    font-size: 0.9rem;
    justify-content: space-between;
    width: 100%;
    gap: 5%;
}

.cabecalho__nav__link:hover{
    color:#5AC051 ;
    transition: 0.2s;
}

.conteudo{
    padding: 2% 15% 25% 15%;
    display: flex;
    align-items: center;
    text-align: justify;

}

.conteudo__texto {
    width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #5AC051;
    font-family: 'montserrat', sans-serif;
    font-size: 20px;

}

.conteudo__texto__titulo{
    color: aliceblue;
    font-family: 'Krona One', sans-serif;
    font-size: 30px;
    text-align: center;
}

.conteudo__texto__titulo__subtitulo{
    color: aliceblue;
    font-family: 'Krona One', sans-serif;
    font-size: 20px;
}


.rodape{
    background-color:aliceblue;
    font-family: 'montserrat', sans-serif;
    font-size: 0.9rem;
    box-sizing: border-box;
    padding: 2% 0% 2% 0px;
    width: 100%;
}

.rodape__conteudo{
    display: flex;
    gap: 40%;
}

.rodape__conteudo__uteis{
    display: flex;
    flex-direction: column;
    padding: 0% 0% 0% 10%;
}

.rodape__contatos{
    display: flex;
    flex-direction: column;
}

.imagem__rodape__contatos{
    max-width: 15px;
    max-height: 15px;
    margin-right: 2%;
}

.rodape__contatos__links:hover , .rodape__conteudo__uteis__links:hover{
    color: #5AC051;
    transition: 0.2s;
} 

@media (max-width:620px){
    .cabecalho__nav{
        gap: 1%;
    }

    .cabecalho__logo{
        padding: 0% 25% 0% 25%;
    }
    .rodape__conteudo{
        gap: 5%;
        width: 100%;
        background-color: aliceblue;
    }
}

@media (max-width:620px){
    .rodape__conteudo{
        gap: 5%;
        width: 100%;
        background-color: aliceblue;
    }
}